@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
* {margin:0;padding:0; border: 0 none; position: relative;}
*, *:before, *:after {box-sizing: inherit;}

#tipo{
	width: 40%;
}

html{
  box-sizing: border-box;
}

/******************************************************************************************************/
/******************************************************************************************************/


.partes{
	background: gray;
	color: white;
	width: 20%;
	display: inline-block;
	text-align: center;
	border: double black;
	cursor: pointer;
	-webkit-transition:-webkit-transform 0.5s ease-out;
	-moz-transition:-moz-transform 0.5s ease-out;
	-o-transition:-o-transform 0.5s ease-out;
	-ms-transition:-ms-transform 0.5s ease-out;
	transition:transform 0.5s ease-out;
}

.partes:hover{
	
	z-index: 1;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.btn{
	width: 90%;
}

/*Titulo Principal de la Pagina Web*/
.principal{
	height: 100px;
	background: rgb(211, 31, 31);
	background-image: url(../images/pokemon.png);
	background-size: 16%;
	background-repeat: no-repeat;
	background-position: center
}

/* IMAGEN DE FONDO WEB */
body{
	background: url("../images/10.jpg") no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

/**********************************************************************************************************************************************************************************************************BARRA_DE_NAVEGACION(DEL_MENU)*******************************************************************************************************************************************************************************************************************/
/* Sombra Externa del DIV */
.excentrico {
	text-align: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.88);
  margin: 2rem center 2rem;
}
/* BARRA DE MENU (ORGANIZACIÓN) */
#nav li{
	cursor: pointer;
	font-family: cursive; 
	font-size: 1em;
	padding: 1%; 
}
/* ORGANIZAR ITEMS DEL MENU */
li{
		display: inline-block;
		box-shadow: 0 0 5px #24272a;
		color: white;
}
/**********************************************************************************************************************************************************************************************************BARRA_SOCIAL************************************************************************************************************************************************************************************************************************************/
.social {
	text-align: center;
	width: 100%;
	margin-top:7%; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	display:box; 
	box-orient:horizontal; 
	box-align:stretch;
}
.social ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 20px 17px;
	text-decoration: none;
	-webkit-transition:all 100ms ease;
	-o-transition:all 100ms ease;
	transition:all 100ms ease; /* Establecemos una transición a todas las propiedades */
	border: 1px solid #c3c6c7;

}
/* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-facebook {
	background:#3b5998;
} 

.social ul li .icon-linkedin {
	background: #00abf0;
}
.social ul li .icon-google-plus {
	background: #d95232;
}
.social ul li .icon-pinterest {
	background: #ae181f;
}
.social ul li .icon-mail {
	background: #666666;
}
.social ul li .icon-github3{
	background: #888080
}
.social ul li .icon-embed{
	background: #575351
}
.social ul li a:hover {
	padding: 30px 17px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	box-shadow: 0 0 300px #fff;
  margin: 2rem center 2rem;
	border-radius: 10%;
}
/**************************************************************************************************************************************************************************************************************TABLA_CONTENIDO_JSON************************************************************************************************************************************************************************************************************************/
/*Titulos de la Tabla*/
.titulos{
    font-family: monospace;
    font-style: italic;
    font-size: 1.2em;;
}
/*Bordes de la Tabla*/
.table-bordered{
	width: 98%;
	border-collapse: collapse;
  box-shadow: 0 0 100px #323638;
  margin: 2rem center 2rem;
	/* Scroll Bar Vertical en la tabla del JSON */
	display: block;
  height: calc(60vh - 1px);
  min-height: calc(200px + 1 px);
  /*use calc for fixed ie9 & <*/
  overflow-Y: scroll;
}
/*Contenido de la tabla (Todo lo del API lastfm.com)*/
.most{
    font-family: "DK Lemon Yellow Sun"; src: url(DK Lemon Yellow Sun.otf);
    font-size: 130%;
}
.img{
	border-radius: 20%;
	border: 1px solid #217c0b;
}
	text-align: center;
	color: #fff;
}
