<!DOCTYPE HTML>
<html lang="es">
<head>
	<!-- Codificación ñ o (´) -->
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1 /> - See more at: http://www.phonegapspain.com/topic/ajustar-texto-segun-las-distintas-resoluciones-de-pantalla/#sthash.TrWdeP61.dpuf">
	<!-- Icono de la Página -->
	<link rel="icon" href="http://rocketdock.com/images/screenshots/Pokeball-1.png">
	<!-- Llamado del Boostrap -->
	<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css">
	<!-- LLamado del CSS -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="dist/fonts/style.css">
	<!-- Nombre Principal de la Página -->
	<title>POKEDEX</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
	<!-- ******************************************************************************************************************
	********************************************* Cuerpo Principal de la Página *******************************************
	***********************************************************************************************************************-->
<body data-ng-app="pokedex" style="background:url('http://assets9.pokemon.com/static2/_ui/img/chrome/body_bg.png')">
	<div class="row principal">
		<div class="col-md-12"></div>
	</div>
	<!-- ******************************************************************************************************************
	********************************************* Menú Principal de la Página *********************************************
	***********************************************************************************************************************-->
	<div style="background:rgb(211, 31, 31)" class="row">
        <div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="excentrico">
						<ul id="nav">
							<li class='text'>POKÉMON DATA</li>
							<li class='text'>GAME MECHANICS</li>
							<li class='text'>COMUNITY</li>
							<li class='text'>OTHER INFORMATION</li>
							<li class='text'>POKÉMON GAMES</li>
						</ul>
				</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<br/>
	<!-- ******************************************************************************************************************
	***********************************************************************************************************************
	***********************************************************************************************************************-->
	<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div ng-controller="pokeDex">
                <div class ="partes" ng-repeat="pokemon in listapokemon | orderBy: 'national_id' ">
                    <h1>N.°{{pokemon.national_id}}</h1>
                    <img ng-src="{{pokemon.national_id|soloUrl}}">
									<br>
                    <button type="button" disabled="disabled" class="btn btn-default" data-ng-click="tab=1">{{pokemon.name}}</button>
									<br>
                    <button id="tipo" type="button" disabled="disabled" class="btn btn-default" data-ng-click="tab=1">{{pokemon.egg_groups[0].name}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
	</div>
					<!-- ******************************************************************************************************************
	****************************************** Inicio de Barra de Redes Sociales ******************************************
	***********************************************************************************************************************-->
	<div class="social">
		<ul>
			<li><a href="https://www.facebook.com/cognits?fref=ts" target="_blank" class="icon-facebook"></a></li>
			<li><a href="https://www.linkedin.com/company/cognits" target="_blank" class="icon-linkedin"></a></li>
			<li><a href="https://plus.google.com/108479858316238835078/posts" target="_blank" class="icon-google-plus"></a></li>
			<li><a href="https://github.com/cognits" target="_blank" class="icon-github3"></a></li>
			<li><a href="http://www.cognits.co/apply" target="_blank" class="icon-embed"></a></li>
		</ul>
	</div>
	<footer>Made in Cognits</footer>
    <!-- ******************************************************************************************************************
	************************************* SCRIPTS BOOSTRAP, JQUERY, JAVASCRIPT, AJAX **************************************
	***********************************************************************************************************************-->
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="dist/js/bootstrap.js"></script>
    <script>"https://code.angularjs.org/1.3.10/angular-animate.js"</script>
    <script src="js/script.js"></script>
    <!-- ******************************************************************************************************************
	***********************************************************************************************************************
	***********************************************************************************************************************-->

</body>
</html>